<a class="btn btn-outline-primary color-fadein p-4 m-2" href="{{html_url}}">
    <div class="rounded-circle" style="width: 12rem;">
        <img class="card-img-top glow rounded-circle" src="{{avatar_url}}" alt="profile of {{login}}">
        <h5 class="card-title w-100 my-2 p-3"><b>GITHUB:</b> {{login}}</h5>            
    </div>
</a>