<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Josiah Powell | Software Developer</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.min.js"></script>
    
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <div class="container">
        <header class="row mt-5">
            <div class="col">
                <h1 class="text-center" style="font-size: 7rem;"><b>Josiah</b>Powell</h1>
            </div>
        </header>

        {{{body}}}
        
        <footer class="row card my-5">
            <div class="p-5">
                <p class="text-center">This site built by Josiah Powell | GitHub: <a href="https://github.com/joepall">JoePall</a>
            </div>
        </footer>
    </div>
</body>
</html>