<div class="row mt-5">
    <div class="card shadow-sm p-5 m-1 container">
        <div class="row">
            <div class="col-md-12 col-lg-4">
                <img class="img-thumbnail p-0 rounded-circle" src="./images/profile.jpg">
            </div>
            <div class="col-md-12 col-lg-8">
                <h2>Who are you?</h2>
                <article>
                    <p>
                        Hi, I'm Josiah! I am currently a student. I am learning full stack development through KU Coding Bootcamp. I am a software developer with years of experience in native Windows Desktop and Mobile applications. I live in Overbrook, Kansas. Please check out the projects below that I have made significant contributions too. Some of these projects others have helped out on as well and this is noted in the corresponding GitHub project under the Contributors section.
                        <b>Please contact me via email at </b> <a href="mailto:josiahpowell@outlook.com">josiahpowell@outlook.com</a>.
                    </p>
                </article>
            </div>
        </div>
    </div>
</div>
{{#each Projects}}
    {{>project .}}
{{/each}}

<div class="modal fade" id="image-modal" tabindex="-1" role="dialog" aria-labelledby="..." aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">...</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img class="w-100 rounded modal-img" src="" alt="...">
      </div>
    </div>
  </div>
</div>

<script src="../js/index.js"></script>
