html {
    background: linear-gradient(23deg, #7ff,#f77);
    position: fixed;
    overflow: hidden;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

body {
    background: linear-gradient(-67deg, #00ff0055, #ff00ff33);
    position: fixed;
    overflow: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.bg-3 {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: absolute;
    background-position: center;
    background: linear-gradient(0deg, #ffffff77,#ffffff77);
}

h1 {
    color: #fff;
    text-shadow: 0 0 .3em #000;
}

* {
    transition: .2s;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
}

article>p, section>p {
    text-transform: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.no-overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.bg-pastel-blue {background-color: #aedde0;}
.bg-pastel-tan {background-color: #d4b68e;}
.bg-pastel-salmon {background-color: #fcb293;}
.bg-pastel-green {background-color: #a9b8b2;}
.bg-pastel-purple {background-color: rgb(150, 145, 204);}

li {
    list-style-type: none;
}