.bg-1 {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: absolute;
    background-position: center;
    background: linear-gradient(23deg, #faa,#ff9,#f99,#ff9,#9f9);
}

.bg-2 {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: absolute;
    background-position: center;
    background: linear-gradient(-23deg, #0000ff77,#00ff0044,#00ffff99,#ffff0077);
}

* {
    transition: .2s;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
}

article>p, section>p {
    text-transform: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.bg-pastel-blue {background-color: #aedde0;}
.bg-pastel-tan {background-color: #d4b68e;}
.bg-pastel-salmon {background-color: #fcb293;}
.bg-pastel-green {background-color: #a9b8b2;}
.bg-pastel-purple {background-color: rgb(150, 145, 204);}
