html {
    background: linear-gradient(135deg, #00ffff9f,#00ffff48,#00ffff15,#ff995515,#ff995548,#ff9955ff);
    position: fixed;
    overflow: hidden;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

body {
    background: linear-gradient(215deg,#00ff0077,#00ff0033,#00ff0015,#ff00ff15,#ff00ff33,#ff00ff55);
    position: fixed;
    overflow: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

h1 {
    color: #fff;
    text-shadow: 0 0 .8rem #00000088;
}

* {
    transition: .2s;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
}

p {
    text-transform: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.no-overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.bg-pastel-blue {background-color: #aedde0;}
.bg-pastel-tan {background-color: #d4b68e;}
.bg-pastel-salmon {background-color: #fcb293;}
.bg-pastel-green {background-color: #a9b8b2;}
.bg-pastel-purple {background-color: rgb(150, 145, 204);}

li {
    list-style-type: none;
}

.bg-50 {
    opacity: .5;
}

.glow {
    -webkit-filter: drop-shadow( 0px 0px 50px rgb(255, 255, 255));
    filter: drop-shadow( 0px 0px 50px rgb(255, 255, 255));
}

.color-fadein {
    -webkit-filter: grayscale(120%);
    filter: grayscale(120%);
}

.color-fadein:hover {
    -webkit-filter: grayscale(20%);
    filter: grayscale(20%);
}

.image-modal-button {
    cursor: pointer;
}

.rounded-sm {
    border-radius: .5rem !important;
}

.rounded-md {
    border-radius: 1rem !important;
}

.rounded-lg {
    border-radius: 2rem !important;
}

.rounded-lg {
    border-radius: 3rem !important;
}

.jumbo-title {
    font-size: 7rem;
}

@media only screen and (max-width : 1500px) { .jumbo-title { font-size: 6rem; } }
@media only screen and (max-width : 1200px) { .jumbo-title { font-size: 5rem; } }
@media only screen and (max-width : 900px) { .jumbo-title { font-size: 4rem; } }
@media only screen and (max-width : 600px) { .jumbo-title { font-size: 3rem; } }