:root {
    --accent-color: #5caaa5; 
}

@media screen and (max-width: 992px) {
    #header {
        padding: 0 !important;
    }   

    #card {
        margin: 2em auto 2em !important;
    }
}

.bg-accent {
    background-color: var(--accent-color) !important;
    border-color: #5caaa599 !important;
}

body {
    background-color: #ddd;
}

img {
    border-radius: 7px;
    box-shadow: 0 0 3px 3px #33333333;
}

.text-accent {
    color: var(--accent-color);
}

.bg-accent {
    background-color: #5caaa5;
    color: #fff;
}

.border-accent {
    border-top: #5caaa5 solid 10px;
}

textarea {
    height: 150px !important;
}

footer {
    background-color: #33333333;
} 